# Server Configuration
PORT=8080
ENV=development

# Firebase Configuration
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CREDENTIAL_JSON_PATH=configs/firebase-key.json
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket.appspot.com

# Database Configuration
DB_HOST=localhost
DB_PORT=0000
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nalakarsa
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

# JWT Configuration
JWT_SECRET=supersecretjwtkeychangeinproduction
JWT_REFRESH_SECRET=supersecretjwtrefreshkeychangeinproduction
JWT_ACCESS_EXPIRATION=900 # 15 minutes in seconds (15 * 60)
JWT_REFRESH_EXPIRATION=604800 # 7 days in seconds (7 * 24 * 60 * 60)


