# Server Configuration
PORT=0000
ENV=Dev

# Firebase Configuration
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CREDENTIAL_JSON_PATH=configs/firebase-key.json
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket.appspot.com

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nalakarsa
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

# JWT Configuration
JWT_SECRET=supers_ecretjwtkeychangein_production
JWT_REFRESH_SECRET=supersecret_jwtrefreshkeychangein_production
JWT_ACCESS_EXPIRATION=900
JWT_REFRESH_EXPIRATION=604800

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
FRONTEND_URL=http://localhost:5173
